extends layout

block content
	// Form Contents
	.hidden.shows.registration.form
		.field
			.field
				// Create New inputs here
				.ui.inverted.divider
				.field
					label 参与者姓名
					input(type='text', name='participants[][name]', placeholder='参与者姓名' data-validate='name')
				.field
					label 参与者性别
					.ui.selection.dropdown
						input(type='hidden', name='participants[][gender]', value='male' data-validate='gender')
						i.dropdown.icon
						.default.text 参与者性别
						.menu
							.item(data-value='male') 男
							.item(data-value='female') 女
							.item(data-value='other') 其他
				.field
					label 是否负责人
					.ui.selection.dropdown
						input.decision(type='hidden', name='participants[][master]', value='no', data-true='yes')
						i.dropdown.icon
						.default.text 是否负责人
						.menu
							.item(data-value='yes') 是
							.item(data-value='no') 否
				.field.hidden
					.field
						label 负责人电话
						input(type='tel', name='participants[][tel]', placeholder='负责人电话')
					.field
						label 负责人邮箱
						input(type='email', name='participants[][email]', placeholder='负责人邮箱')
	.hidden.participants.registration.form
		.field
			.field
				// Create New inputs here
				.ui.inverted.divider
				.field
					label 参与者姓名
					input(type='text', name='participants[][name]', placeholder='参与者姓名', data-validate='name')
				.field
					label 参与者性别
					.ui.selection.dropdown
						input(type='hidden', name='participants[][gender]', value='male', data-validate='gender')
						i.dropdown.icon
						.default.text 参与者性别
						.menu
							.item(data-value='male') 男
							.item(data-value='female') 女
							.item(data-value='other') 其他
				.field
					label 参与者电话
					input(type='tel', name='participants[][tel]', placeholder='参与者电话', data-validate='tel')
				.field
					label 参与者类别
					.ui.selection.dropdown
						input.decision(type='hidden', name='participants[][type]', data-validate='type', value='child', data-true='student partner')
						i.dropdown.icon
						.default.text 参与者类别
						.menu
							.item(data-value='student') 学生
							.item(data-value='partner') 舞伴
							.item(data-value='parent') 家长及12岁以上大童
							.item(data-value='child') 12岁以下小童
				.field.hidden
					.field
						label 学生班级
						.ui.selection.dropdown
							input(type='hidden', name='participants[][class]', value='17', data-validate='class')
							i.dropdown.icon
							.default.text 学生班级
							.menu
								.item(data-value='17') 17班
								.item(data-value='18') 18班
								.item(data-value='19') 19班
								.item(data-value='20') 20班
								.item(data-value='') 非国体
				.field
					label 参与者忌口
					input(type='text', name='participants[][avoidance]', data-validate='avoidance', placeholder='参与者忌口')
	.hidden.hosts.registration.form
		.field
			.field
				// Create New inputs here
				.ui.inverted.divider
				.field
					label 申请人姓名
					input(type='text', name='participants[][name]', placeholder='参与者姓名', data-validate='name')
				.field
					label 申请人性别
					.ui.selection.dropdown
						input(type='hidden', name='participants[][gender]', value='male', data-validate='gender')
						i.dropdown.icon
						.default.text 申请人性别
						.menu
							.item(data-value='male') 男
							.item(data-value='female') 女
							.item(data-value='other') 其他
				.field
					label 申请人电话
					input(type='tel', name='participants[][tel]', placeholder='申请人电话', data-validate='tel')
				.field
					label 申请人班级
					.ui.selection.dropdown
						input(type='hidden', name='participants[][class]', value='17', data-validate='class')
						i.dropdown.icon
						.default.text 申请人班级
						.menu
							.item(data-value='17') 17班
							.item(data-value='18') 18班
							.item(data-value='19') 19班
							.item(data-value='20') 20班
							.item(data-value='') 非国体
	form#shows.ui.modal.tiny.inverted.shows.registration.form
		.header 节目报名
		i.close.icon
		.content.center.aligned
			.field
				label 节目名称
				input(type='text', name='meta[group]', data-validate='group', placeholder='节目名称')
			.field
				label 节目类型
				input(type='text', name='meta[showtype]', data-validate='showtype', placeholder='节目类型')
			.field
				label 节目时间
				.ui.right.labeled.input
					input(type='number', name='meta[showtime]', data-validate='showtime', placeholder='节目时间')
					.ui.basic.label
						| min
			.field
				label 节目备注
				.ui.input
					textarea(rows='5', name='meta[note]', data-validate='note', placeholder='节目备注')
			.field
				label 参与人数
				.ui.action.input
					input#shows.amount(type='number', name='meta[amount]', data-validate='amount', placeholder='参与人数')
					a.ui.icon.button
						i.check.icon
			.ui.inverted.divider
			.field
				label 修改码
				.ui.input
					input(type='text', name='meta[uuid]', data-validate='uuid', placeholder='没有请留空')
			button.ui.submit.button(type='submit') 报名
			.ui.message(class="hidden")
				.header
				.list
	form#participants.ui.modal.tiny.participants.registration.inverted.form
		.header 舞会报名
		i.close.icon
		.content.center.aligned
			.field
				label 参与人数
				.ui.action.input
					input#participants.amount(type='number', name='meta[amount]', data-validate='amount', placeholder='参与人数')
					a.ui.icon.button
						i.check.icon
			.ui.inverted.divider
			.field
				label 修改码
				.ui.input
					input(type='text', name='meta[uuid]', data-validate='uuid', placeholder='没有请留空')
			button.ui.submit.button(type='submit') 报名
			.ui.message(class="hidden")
				.header
				.list
	form#hosts.ui.modal.inverted.tiny.registration.hosts.form
		.header 主持报名
		i.close.icon
		.content.center.aligned
			.field
				label 申请人数
				.ui.action.input
					input#hosts.amount(type='number', name='meta[amount]', data-validate='amount', placeholder='申请人数')
					a.ui.icon.button
						i.check.icon
			.ui.inverted.divider
			.field
				label 修改码
				.ui.input
					input(type='text', name='meta[uuid]', data-validate='uuid', placeholder='没有请留空')
			button.ui.submit.button(type='submit') 报名         
			.ui.message(class="hidden")
				.header
				.list
	// Page Contents
	.pusher
		.ui.center.aligned.inverted.poster.segment
			.ui.banner.container
				img.title(alt='title', src='images/title.png')
				div
				.ui.basic.registration.buttons
					#shows.ui.registration.button(style='color: white !important;') 节目报名
					#participants.ui.registration.middle.button(style='color: white !important;') 舞会报名
					#hosts.ui.registration.button(style='color: white !important;') 主持报名
				.ui.horizontal.divider
					a#slideIn
						i.chevron.down.icon.inverted.grey
		.ui.center.aligned.bulletin.ten.container.grid
			.row
			- for (var i = 0; i < bulletins.length; i++)
				.row.twelve.wide.tablet.fourteen.wide.phone.ten.wide.computer.column
					a(href=`${bulletins[i].link}`).ui.raised.inverted.left.aligned.padded.segment
						h2.ui.header= bulletins[i].title
						p= bulletins[i].text
			.row
		.ui.inverted.vertical.footer.segment
			.ui.center.aligned.container
				.ui.hidden.divider
				h4
					| © 2018 SMS PROM | Design by 
					a(href='http://nexstudio.us') NeX-Studio
					|  | Code by 
					a(href='https://blog.thexyzlab.studio') TheXYZLab
					|  with effort and 
					i.icon.heart
				.ui.hidden.divider
	script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
	script(src='jquery.serialize-object.min.js')
	script(src='semantic.min.js')
	script(src='site.js')
